a {
  text-decoration: none;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    align-items: center;
    justify-content: space-around;
}
footer .footer__copyright {
    font-size: 14px;
    color: rgb(70, 105, 114);
    text-align: center;
}
footer .footer__copyright a {
    color: rgb(70, 105, 114);
}
footer .footer__copyright a:hover {
    color: rgb(95, 143, 155);
}
footer .footer__copyright:before {
    content: '©';
}

footer .footer__image {
    max-height: 20%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}
footer .footer__author {
    color: rgb(95, 143, 155);
}
footer .footer__year{
    color: rgb(95, 143, 155);
}
footer .footer__course {
    color: rgb(70, 105, 114);
}

footer .link:hover {
    text-shadow: 0px 0px 5px rgba(137, 195, 210, 0.409);
    color: rgb(137, 195, 210);
}